{% extends "layout.html" %}

{% block content %}

{% load static %}

<header class="row fondo">
    <div class="col-md-4">
        <img src="{% static 'porfolio/foto.png' %}" class="foto img-fluid">
    </div>

    <div class="col-md-8 my-auto">
        <h1>¡Hey 👋! Soy <strong>Melisa Moreno</strong> 👩‍💻</h1>
        <h3>Soy Técnico Superior en Desarrollo de Software & Full Stack Developer Jr.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, mauris in pretium aliquam, ante neque vehicula elit, ac egestas lorem tellus eget risus. Cras rhoncus tellus neque, id molestie felis fringilla nec. Pellentesque in diam justo. Quisque sed urna nibh. Nunc non mauris nec odio scelerisque sagittis nec vel dui. Pellentesque molestie quis odio in convallis. Proin orci erat, tempor id fringilla quis, gravida in leo. Praesent tempus accumsan velit semper consequat. Proin at mi et nisi tincidunt pharetra a bibendum felis. Nam pellentesque gravida egestas. Pellentesque volutpat vitae odio sit amet facilisis. Maecenas porta mi eget sapien facilisis.</p>
        <a class=" btn btn-dark btn-lg my-3" href="{% static 'porfolio/cv.pdf' %}" target="_blank">Download CV</a>
    </div>
</header>

<div class="row my-4 text-center">
    <h2 class="text-uppercase">My Projects</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut.</p>
    
    {% for project in projects %}

    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top" style="border-radius: 10rem;">
            <div class="card-body">
                <h3>{{project.title}}</h3>
                <p>{{project.description}}</p>
            
                    {% if project.url %}
                    <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank">Ver repositorio</a>
                    {% endif %} 
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}